body {
	margin: 0;
	padding: 0;
}
#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.visually-hidden {
	border: 0;
	clip-path: inset(50%);
	height: 1px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
